.wrapper{
    height: 80px;
    width: 70vw;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: static;
    align-items: center;
    background-color: white;
    z-index: 1000;
    
}

.sticky{
    height: 70px;
    width: 100%;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
